@charset "utf-8";

#wrapper {
	width: 878px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#optField {
	border: 1px solid #FFF;
	margin-top: 10px;
	margin-left: 15px;
	width: 275px;
	height: 35px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	outline: none;
}
.quote {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #666;
}
#TestimonialArea {
	padding-top: 15px;
	padding-right: 60px;
	padding-bottom: 15px;
	padding-left: 60px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
}

#fieldArea {
	background-image: url(../images/email.png);
	background-repeat: no-repeat;
	height: 56px;
	width: 343px;
}

#affiliatenotice {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
